.paginacao-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;   
}

.paginacao-icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--gray-less-light-color);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;    
}

.paginacao-icone.ativado {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.direcional-proximo {
    transform: rotateY(180deg);        
}

.icone-ativado {
    color: var(--primary-color);
}

.icone-desativado {
    color: var(--gray-less-light-color);    
}

