.cadasto-produto-form-card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 40px;
}

.cadastro-produto-form-titulo {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.cadastro-produto-form-card label {
  font-size: 18px;
  display: inline;
  font-weight: 700;
}

.cadastro-produto-form-card input {
  margin-bottom: 10px;
}

.cadatro-produto-form-botoes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.botao-salvar {
  background-color: var(--botao-busca);
  color: var(--white-color);
  border: 0;
}

.botao-salvar,
.botao-cancelar {
  font-weight: bold;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cadastro-produto-select__control {
  font-size: 1em;    
  min-height: 60px !important;
  border-radius: 15px !important;   
}

.cadastro-produto-select__placeholder {
  color: var(--gray-less-dark-color) !important;
  font-weight: 400;
}

.cadastro-produto-select__multi-value { 
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--white-color);
  border-radius: 10px !important;
}


@media (min-width: 576px) {
  .botao-salvar,
  .botao-cancelar {
    width: 200px;
  }

  .botao-cancelar {
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .cadatro-produto-form-botoes-container {
    justify-content: flex-start;
  }

  .botao-salvar,
  .botao-cancelar {
    width: 250px;
    height: 60px;
  }

  .botao-cancelar {
    margin-right: 50px;
  }
}
