.card-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .card-loader-container {
    display: flex;    
    justify-content: flex-start;
  }
}
