.container {
    min-height: 500px;
}

.admin-container {
    display: flex;
    flex-direction: column;
    font-size: 28px;       
}

.admin-container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}



.admin-menu {    
    margin: 0;
    padding: 0;
    
}

.admin-conteudo h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px 0;
    border: 1px solid black;
    border-radius: 0;   
}


@media(min-width: 1200px) {
    .admin-container {
        display: flex;
        flex-direction: row;
    }

    .admin-conteudo {
        flex: 1;
    }
}