.cadasto-produto-form-card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 40px;
  border: 1px solid blue;
}

.cadasto-produto-form-card label {
  font-size: 18px;
  display: inline;  
}

.cadasto-produto-form-card input {  
  margin-bottom: 10px;
}

