.botao-inserir {
  height: 50px;
  width: 100%;
  border: 0 !important;
  margin: 20px 0;
  background-color: var(--botao-busca);
  color: var(--white-color);
  border-radius: 15px;
  font-size: 20px;
  letter-spacing: -0.015em;
  font-weight: bold;
}

.cadastro-produto-container {
  margin-bottom: 10px;
  margin-top: 10px;
}


.barra-pesquisa-produto {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--white-color);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}

.barra-pesquisa-produto:hover {
  border: 2px solid var(--blue-light);
}

@media (min-width: 576px) {
  .botao-inserir {
    width: 60%;
  }
}

@media (min-width: 768px) {
  .cadastro-produto-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .botao-inserir {
    height: 60px;
    margin: 0;
    margin-top: 20px;
    width: 100%;
  }

  .barra-pesquisa-produto {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    flex: 1;
  }
}

@media (min-width: 992px) {
  .row {
    max-width: 1200px;
  }

  .botao-inserir {
    font-size: 0.9em;
    height: 70px;
  }
}
