.admin-menu-container ul {
  display: flex;
  justify-content: space-around;
}

.admin-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--light-color);
  color: var(--tertiary-color);
  height: 50px;
  border-radius: 10px;
  padding: 0 5px;
  border: 1px solid var(--primary-color);
  margin: 10px 0px;
}

.admin-menu-link:hover {
  background-color: var(--blue-light);
}

.admin-menu-link p {
  margin-bottom: 0px;
  padding: 0 10px;
}

.admin-menu-link.ativo {
  background-color: var(--primary-color);
}

@media (max-width:576px) {

  .admin-menu-container {
    margin: 0 10px;
  }

  .admin-menu-container ul {
    display: block;    
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .admin-menu-link {    
    min-width: 150px;
  }
}

@media (min-width: 992px) {
  .admin-menu-link {
    font-size: 20px;
    min-width: 150px;
  }
  
}

@media (min-width: 1200px) {
  .admin-menu-container {
    width: 320px;
    height: 100% ;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
  }

  .admin-menu-container ul {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    margin: 0;
    padding: 0;
  }

  .admin-menu-link {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    padding-left: 20px;
    margin: 0;
    height: 70px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 0px;
    border-bottom: 1px solid var(--gray-less-light-color);
  }

  .admin-menu-container li:first-of-type {
    border-top: 1px solid var(--gray-less-light-color) !important;
  }

  .admin-menu-link.ativo {
    background-color: var(--blue-light);
  }
}
