.cabecalho {
  background-color: var(--primary-color);
  padding-left: 30px;
  min-height: 100px;
}

.texto-logo {
  color: var(--white-color);
}

.menu-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  width: 650px;
}

.menu-principal a.ativo {
  color: var(--white-color);
}

.menu-principal li {
  transition: transform 0.6s;
  padding: 5px;
}

.menu-principal li:hover {
  transform: scale(1.1);
  border: 2px solid var(--tertiary-color);
  border-radius: 10px;
  color: var(--light-color);
}

.menu-principal a {
  color: var(--tertiary-color);  
}

.menu-principal a:hover {
  text-decoration: none;
  color: var(--light-color);
}

@media (max-width: 992px) { 
  

  .menu-principal li {
    font-size: 18px;
      
  }

  .menu-principal li:hover {
    transform: scale(1);
    border: 0;   
  }

  p {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {

  .cabecalho {
    padding-left: 10px;    
  }

  
  .menu-principal li {
    font-size: 15px;
  } 

  p {
    font-size: 14px;  
  }

}

@media (max-width: 576px) {
  .logo-branco {
    width: 70%;
  }
}


