.cabecalho {
  background-color: var(--primary-color);
  padding-left: 30px;
  min-height: 100px;
}

.texto-logo {
  color: var(--white-color);
}

.menu-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  width: 700px;
}

.menu-principal a.ativo {
  color: var(--white-color);
}

.menu-principal li {
  transition: transform 0.6s;
  padding: 5px;
}

.menu-principal li:hover {
  transform: scale(1.15);
  border-radius: 10px;
  color: var(--light-color);
}

.menu-principal a {
  color: var(--tertiary-color);
}

.menu-principal a:hover {
  text-decoration: none;
  color: var(--light-color);
}

.navbar.navbar .navbar-toggler-icon {
  background-image: url("../../assets/imagens/hamburger.svg");
}

.menu-logar-sair {
  display: none;
  font-size: 1.2em;
  margin-right: 30px;
}

.menu-email-cliente {
  border: 0 !important;
}

.menu-logar-sair a {
  color: var(--tertiary-color);
}

.menu-logar-sair a:hover {
  color: var(--light-color);
}

@media (min-width: 992px) {
  .menu-logar-sair {
    display: unset;
    border: 0 !important;
  }

  .menu-logar-sair a {
    display: inline;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 8px !important;
  }

  .menu-email-cliente {
    display: flex;
    margin-top: 5px;
    font-size: 0.9em;
    background-color: none;
    color: var(--light-color);
  }

  .menu-login-sair-mobile {
    display: none;
  }
}

@media (max-width: 992px) {
  .menu-principal li {
    font-size: 18px;
  }

  .menu-principal li:hover {
    transform: scale(1);
    border: 0;
  }

  p {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .cabecalho {
    padding-left: 10px;
  }

  .menu-principal li {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .logo-branco {
    width: 70%;
  }
}
