.categoria-container {
    margin: 0 20px;  
    width: 100%; 
}

.cadastro-categoria-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;    
}