@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;1,700&family=Ubuntu:wght@400;700&display=swap');

* {
  font-family: 'Ubuntu', 'Roboto','Open Sans';
  box-sizing: border-box;
}

:root {
  --primary-color: #3dcc70 ;
  --secondary-color: #ffb500;
  --tertiary-color: #001466;
  --backgound-color : #e6e6e6;
  --light-color: #e9e9e9;
  --gray-less-light-color: #949494;
  --gray-less-dark-color: #72849A;
  --gray-dark-color: #384460;
  --green-light-color: #08b976;
  --white-color: #fff;
}

a, a:hover {
  text-decoration: none;  
  color: --var(--light-color);
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {  
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}

.card-basico {
  background-color: var(--primary-color);
  border-radius: 10px;
}






