.barra-pesquisa-produto {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  background-color: var(--blue-light);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.descricao-produto-barra-pesquisa {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.descricao-produto-barra-pesquisa input {
  min-height: 50px;
  border-radius: 10px 0 0 10px;
  font-size: 1em;
  color: var(--gray-less-dark-color) !important;
}

.descricao-produto-barra-pesquisa input:focus {
  box-shadow: none;
}

.descricao-produto-barra-pesquisa input::placeholder {
  font-size: 20px;
  color: var(--tertiary-color);
}

.descricao-produto-barra-pesquisa button,
.descricao-produto-barra-pesquisa svg {
  color: var(--primary-color);
  border: none;
  width: 45px;
  height: 45px;
  background-color: transparent;
}

.embalagem-categoria-limpar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  margin: 10px 0 0 0;
  border: 1px solid var(--blue-light);
}

.embalagem-container {
  margin-right: 30px;
  flex: 1;
}

.categoria-container {
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 20px;
  flex: 1;
}

.botao-limpar {
  color: var(--white-color) !important;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
}

.botao-limpar:hover {
  color: var(--tertiary-color) !important;
}

.icone-botao-busca-barra-pesquisa {
  height: 50px !important;
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background-color: var(--primary-color) !important;
}

.barra-pesquisa-select__control {
  font-size: 1.1em;
  min-height: 40px !important;
  border-radius: 10px !important;
}

.barra-pesquisa-select__placeholder {
  color: var(--gray-less-dark-color) !important;
  font-weight: 400;
  text-align: center;
}

.barra-pesquisa-select__multi-value {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: var(--white-color);
  border-radius: 10px !important;
}

.barra-pesquisa-select__indicator-separator {
    display: none;
}

@media (min-width: 768px) {
  .embalagem-categoria-limpar-container {
    flex-direction: row;
    align-items: center;
  }
  .barra-pesquisa-produto {
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 15px 20px;
    flex: 1;
  }

  .categoria-container {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 0;
    flex: 1;
  }
}
